<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../../static/css/home.css">
    <title>Simona Floowers</title>
</head>
<body>
    <h1 style="padding-left:400px;" ><img src="../../static/images/ddsfss.png" alt="" style="width:50%;" ></h1>
    <div class="button-images">
        <div class="one_fourth">
        	<div class="button-container">
       		  <a href="#">Wedding Pictures</a>
           		<img src="../../static/images/download.jpeg"/>
            </div>
        </div>    
          <div class="one_fourth">
        	<div class="button-container">
       		  <a href="index/">Flower Categories</a>
           		<img src="../../static/images/download.jpeg" />
            </div>
        </div>
           <div class="one_fourth">
        	<div class="button-container">
       		  <a href="#">Quotations</a>
          <div class="button-image">
              <img src="../../static/images/download.jpeg"/></div>
            </div>
        </div>
           <div class="one_fourth last">
        	<div class="button-container">
       		  <a href="#">Accounting</a>
           		<img src="../../static/images/download.jpeg"/>
            </div>
        </div>

	<div class="clearboth"></div>
    </div>
</body>
</html>